@* USER PANEL *@

@model MailLogUpdateDto
<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">E-Mail Management /</span> E-Mail Edit</h4>



    <form asp-area="User" asp-controller="Maillog" asp-action="MailLogUpdate" method="post" enctype="multipart/form-data" id="registerForm" onsubmit="return validateForm()">
        <div asp-validation-summary="ModelOnly"> </div>
        <div class="container-xxl flex-grow-1 container-p-y">
            <input type="hidden" asp-for="@Model.Id" />
            <div class="row invoice-preview">
                <!-- Invoice -->
                <div class="col-xl-9 col-md-8 col-12 mb-md-0 mb-4">
                    <div class="card invoice-preview-card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between flex-xl-row flex-md-column flex-sm-row flex-column p-sm-3 p-0">
                                <div class="mb-xl-0 mb-4">
                                    <div class="d-flex svg-illustration mb-3 gap-2">
                                        <span class="app-brand-logo demo">
                                            <div style="display: flex; flex-direction: column; align-items: start; position: relative; font-size: 30px;" class="mb-3">
                                                <span class="app-brand-text text-primary fw-bold ms-0" style="font-weight: bold; text-transform: uppercase;">LSDCS</span>
                                                <span class="ms-0 text-primary" style="font-size: 10px; margin-top: 5px;">Legal Services Data Classification System</span>
                                            </div>

                                            <div class="d-flex align-items-center">
                                                <span class="mb-1 font-weight-bold text-primary fs-5 mr-2">
                                                    MÜVEKKİL:
                                                </span>
                                                <span class="fw-medium">

                                                    <select id="clientList" class="form-select mb-1 form-select-l  font-weight-bold  fs-5 " style="height: 45px; width:300px;" asp-for="ClientId" asp-items="@(new SelectList(Model.Clients,"Id","ClientName"))"> </select>
                                                </span>
                                            </div>


                                        </span>

                                    </div>

                                </div>
                                <div>
                                    <h4 class="text-primary">
                                        MailId #   @Model.Id
                                        @*   <a class="" style="color: #30b2bd;" asp-area="Admin" asp-controller="MailLog" asp-action="ChildMailList" asp-route-id="@Model.Id">
                                        @Model.Id
                                        <img src="~/sneat/assets/img/icons/myicons/edit.png" alt="Avatar" class="rounded-circle">
                                        </a> *@

                                        |



                                        <a class="" style="color: #30b2bd;" asp-area="User" asp-controller="MailLog" asp-action="ChildMailList" asp-route-id="@Model.Id">


                                            <img src="~/sneat/assets/img/icons/myicons/back.png" alt="Avatar" class="rounded-circle">
                                            LİSTEYE GERİ DÖN


                                        </a>
                                    </h4>

                                    <div class="d-flex align-items-center mb-3">
                                        <span class="me-1 font-weight-bold text-primary fs-5">MAİL YÖNÜ : </span>

                                        <span class="fw-medium">
                                            <select class="form-control  font-weight-bold  fs-5 " style="height: 35px; width:150px;" asp-for="MAIL_YONU">
                                                <option value="GIDEN MAIL">GIDEN MAIL</option>
                                                <option value="GELEN MAIL">GELEN MAIL</option>
                                            </select>
                                        </span>
                                    </div>



                                    <div class="d-flex align-items-center mb-3">
                                        <label class="me-1 font-weight-bold text-primary fs-5">MAİL GÖNDERİM TARİHİ :</label>
                                        <span class="fw-medium">

                                            <input asp-for="MAIL_GONDERIM_TARIHI" class="form-control font-weight-bold fs-5" type="date">

                                        </span>
                                    </div>




                                    <div>
                                        <span class="me-1 font-weight-bold text-primary fs-5">MAİL LOGLAMA TARİHİ:</span>
                                        <span class="font-weight-bold fs-5">@Model.CreatedDate</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="my-0">

                        <div class="card-body">
                            <div class="row p-sm-3 p-0">
                                <div class="d-flex align-items-center mb-3">
                                    <span class="font-weight-bold text-primary fs-5 mr-2">GÖNDERİCİ MAİL : </span>
                                    <span class="fw-medium">
                                        <input asp-for="GONDERICI_MAIL" type="email" class="form-control form-control-user font-weight-bold " style="height: 35px; width:400px;"
                                               id="defaultFormControlInput" placeholder="GONDERICI_MAIL Email" aria-describedby="defaultFormControlHelp">
                                        <span asp-validation-for="GONDERICI_MAIL" class="text-danger"></span>

                                    </span>

                                </div>
                                <div class="d-flex align-items-center mb-3">

                                    <span class="font-weight-bold text-primary fs-5 mr-2">GÖNDERİCİ AD - SOYAD : </span>
                                    <span class="fw-medium">
                                        <input asp-for="GONDERICI_ISIM" type="text" class="form-control form-control-user font-weight-bold " style="height: 35px; width:400px;"
                                               id="defaultFormControlInput" placeholder="Gönderici Ad - Soyad" aria-describedby="defaultFormControlHelp">
                                        <span asp-validation-for="GONDERICI_ISIM" class="text-danger"></span>

                                    </span>

                                </div>

                                <div class="d-flex align-items-center mb-3">

                                    <span class="font-weight-bold text-primary fs-5 mr-2">ALICI TO: </span>
                                    <span class="fw-medium">
                                        <input type="text" class="form-control form-control-user " style="height: 35px; width:750px;"
                                               name="ALICI_TO"
                                               id="ALICI_TO"
                                               value="@string.Join(", ", Model?.ALICI_TO ?? new List<string>())"
                                               placeholder="Alıcı e-mail adresi">
                                    </span>
                                    <div id="errorTO" style="color: red;"></div>
                                </div>


                                <div class="d-flex align-items-center">


                                    <span class="font-weight-bold text-primary fs-5 mr-2">ALICI  CC: </span>
                                    <span class="fw-medium">
                                        <input type="text" class="form-control form-control-user " style="height: 35px; width:750px;"
                                               name="ALICI_CC"
                                               id="ALICI_CC"
                                               value="@string.Join(", ",Model?.ALICI_CC ?? new List<string>())"
                                               placeholder="CC E-mail adresi">
                                        <div id="errorCC" style="color: red;"></div>


                                    </span>
                                </div>

                            </div>
                        </div>
                        <hr class="my-0">
                        <div class="card-body">
                            <div class="row p-sm-3 p-0">

                                <div class="d-flex align-items-center mb-3">
                                    <span class="font-weight-bold text-primary fs-5 mr-2">MAİL KONUSU : </span>
                                    <span class="fw-medium">
                                        <input asp-for="MAIL_KONUSU" type="text" class="form-control form-control-user" style="height: 35px; width:750px;"
                                               id="defaultFormControlInput" placeholder="MAIL_KONUSU" aria-describedby="defaultFormControlHelp" required>
                                        <span asp-validation-for="MAIL_KONUSU" class="text-danger"></span>
                                    </span>


                                </div>
                              

                            </div>
                        </div>


                        <hr class="my-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">


                                    <span class="pb-2 font-weight-bold text-primary fs-5">OLAY ÖZETİ </span>
                                    <br>
                                    <span>
                                        <textarea asp-for="OLAY_OZETI" class=" form-control" rows="5" placeholder="Dosya hakkında yorum yapın..."></textarea>
                                        <span asp-validation-for="OLAY_OZETI" class="text-danger"></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <hr class="my-0">

                        <div class="card-body">

                            <div class="form-group mb-3">
                                <label for="defaultFormControlInput" class="font-weight-bold text-primary fs-5">HUKUKI TALEP KONUSU</label>
                                <input asp-for="HUKUKI_TALEP_KONUSU" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="Hukuki talep konusu" aria-describedby="defaultFormControlHelp">
                                <span asp-validation-for="HUKUKI_TALEP_KONUSU" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-12">

                                    <span class="font-weight-bold text-primary fs-5">HUKUKİ DEĞERLENDİRME </span>
                                    <br />
                                    <span>
                                        <textarea asp-for="HUKUKI_DEGERLENDIRME" required class=" form-control" rows="5" placeholder="Dosya hakkında yorum yapın..." required></textarea>
                                        <span asp-validation-for="HUKUKI_DEGERLENDIRME" class="text-danger"></span>

                                    </span>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0">
                        <div class="card-body">
                            <div class="form-group mb-3">

                                <label for="formFileMultiple" class="font-weight-bold text-primary fs-5">DÖKÜMANLAR</label>
                                <input class="form-control" type="file" asp-for="Documents" id="formFileMultiple" multiple>

                                <div id="fileList"></div>


                            </div>

                            <div class="form-group mb-3 font-weight-bold">
                                @foreach (var documentInfo in Model.DocumentInfos)
                                {
                                    <p id="document-@documentInfo.Id">
                                        <a href="/BTSDocuments/@documentInfo.DocumentUrl" target="_blank">@documentInfo.DocumentName</a>
                                        <a href="javascript:void(0);" onclick="deleteDocument(@documentInfo.Id)" class="delete-icon" style="color: red;"
                                           data-area-name="Admin">
                                            <i class="fas fa-trash"></i>
                                        </a>

                                    </p>
                                }
                            </div>



                        </div>


                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <span class="pb-2 font-weight-bold text-primary fs-5">DÖKÜMAN ÖZETİ </span>
                                    <br />
                                    <span>
                                        <textarea asp-for="DOKUMAN_OZETI" class="form-control" rows="5" placeholder="Dosya hakkında yorum yapın..."></textarea>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary btn-block ">Update</button>
                    </div>

                </div>


            </div>
    </form>


</div>



@section Scripts {
    <script src="~/js/mailLogIndex.js" type="text/javascript"></script>
}


@*

<div class="container-xxl flex-grow-1 container-p-y">

    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">E-Mail Management /</span> E-Mail Edit</h4>
<div class="row">
        <div class="col-md-12">
            <div class="card mb-4">



                <form asp-controller="Maillog" asp-action="MailLogUpdate" method="post" enctype="multipart/form-data" id="registerForm" onsubmit="return validateForm()">
                    <div asp-validation-summary="ModelOnly"> </div>
                    <div class="card-body">
                        <input type="hidden" asp-for="@Model.Id"/>
                        <div>
                            <div class="form-group mb-3">
                                <h4 class="text-primary">
                                    MailId #
                                    <a asp-area="Admin" asp-controller="MailLog" asp-action="MailLogDetails" asp-route-mailLogId="@Model.Id">
                                        @Model.Id
                                    </a>
                                </h4>

                            </div>

                            <div class="form-group mb-3">
                                <div class="form-group mb-3">
                                    <label for="defaultFormControlInput" class="form-label text-primary">Client</label>
                                    <select id="clientList" class="form-select mb-3 form-select-lg " style="height: 50px;" asp-for="ClientId" asp-items="@(new SelectList(Model.Clients,"Id","ClientName"))"> </select>
                                    <span asp-validation-for="ClientId" class="text-danger"></span>
                                </div>

                                <label for="MAIL_YONU" class="text-primary">E-mail Yönü</label>
                                <select class="form-control" asp-for="MAIL_YONU">
                                    <option value="OUTGOING">OUTGOING</option>
                                    <option value="INCOMING">INCOMING</option>
                                </select>
                            </div>


                            <div class="row g-3 align-items-center mb-3">
                                <div class="col-auto">
                                    <label for="startDate" class="me-2 text-primary">Send Mail Date:</label>
                                </div>
                                <div class="col-auto">
                                    <input asp-for="MAIL_GONDERIM_TARIHI" class="form-control" type="date">
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="defaultFormControlInput" class="form-label text-primary">GONDERICI_MAIL E-Mail</label>
                                <input asp-for="GONDERICI_MAIL" type="email" class="form-control mb-3" id="defaultFormControlInput" placeholder="GONDERICI_MAIL E-Mail" aria-describedby="defaultFormControlHelp">
                            </div>

                            <div class="form-group mb-3">
                                <label for="defaultFormControlInput" class="form-label text-primary">RecipientTO</label>
                                <input type="text" class="form-control form-control-user"
                                       name="ALICI_TO"
                                       id="ALICI_TO"
                                       value="@string.Join(", ",Model?.ALICI_TO ?? new List<string>())"
                                       placeholder="ALICI_TO">
                                <div id="errorTO" style="color: red;"></div>
                            </div>

                            <div class="form-group mb-3">
                                <label for="defaultFormControlInput" class="form-label text-primary">RecipientCC</label>
                                <input type="text" class="form-control form-control-user"
                                       name="ALICI_CC"
                                       id="ALICI_CC"
                                       value="@string.Join(", ",Model?.ALICI_CC ?? new List<string>())"
                                       placeholder="ALICI_CC">
                                <div id="errorCC" style="color: red;"></div>

                            </div>


                            <div class="form-group mb-3">
                                <label for="defaultFormControlInput" class="form-label text-primary">MAIL_KONUSU</label>


                                <input asp-for="MAIL_KONUSU" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="MAIL_KONUSU" aria-describedby="defaultFormControlHelp">


                            </div>

                            <div class="form-group mb-3">
                                <label for="defaultFormControlInput" class="form-label text-primary">HUKUKI TALEP KONUSU</label>
                                <input asp-for="HUKUKI_TALEP_KONUSU" type="text" class="form-control mb-3" id="defaultFormControlInput" placeholder="HUKUKI TALEP KONUSU" aria-describedby="defaultFormControlHelp">
                                <span asp-validation-for="HUKUKI_TALEP_KONUSU" class="text-danger"></span>
                            </div>


                            <div class="form-group mb-3">
                                <label for="defaultFormControlInput" class="form-label text-primary">Legal Assessment</label>
                                <textarea asp-for="HUKUKI_DEGERLENDIRME" class=" form-control" rows="10" placeholder="Dosya hakkında yorum yapın..."></textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label for="defaultFormControlInput" class="form-label text-primary">Event Summary</label>
                                <textarea asp-for="OLAY_OZETI" class=" form-control" rows="10" placeholder="Dosya hakkında yorum yapın..."></textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label for="defaultFormControlInput" class="form-label text-primary">Document Summary</label>
                                <textarea asp-for="DOKUMAN_OZETI" class="form-control" rows="10" placeholder="Dosya hakkında yorum yapın..."></textarea>
                            </div>

                            <div class="form-group mb-3">
                                <button type="submit" class="btn btn-primary btn-block ">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>



    </div>
</div> *@


@* ADMİN PANEL *@
